{{ template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}

<h1>This is the index page</h1>

This page works. But, if you <a href="/about">click here</a>, you get the same content instead of the about template. Why?

{{end}}